<include file="Public:header_new" />
<style>
.outlogbox .logbox .inbox{border:0 none;}
.outlogbox .logbox{width:590px;}
.outlogbox .logbox .inbox{width:590px;padding-bottom: 70px;}
</style>
<div class="outlogbox">
    <div class="logbox">
		<div class="inbox">
		    <div><img src="__PUBLIC__/Home/images/images/ddh.png" alt=""></div>
			<h1 class="regsucc" style="font-size: 20px;font-weight: normal;margin-top:30px;"> {$Think.lang.reg_suc}</h1>
			<div class="regsucc" style="font-size:16px;margin-top:50px;">
				{$Think.lang.g_set_tradpwd_login} <a href="/User/index.html" style="color:#059ff5;"> {$Think.lang.g_my_account} </a>
			</div>
			<!-- <span class="todeal">
				<a href="/User/index.html" style="background:#059ff5">去我的账户</a>
			</span> -->
		</div>
	</div>
</div>
<include file="Public:footer_new" />