<include file="Public:header_new"/>
<div class="usernewout">
	<p class="titlenotice"><a  style="color:#e75600;" href="/Article/detail/id/{$notice_info['id']}">公告：{$notice_info['title']|msubstr=0,100,'utf-8'}</a></p>
	<div class="usncont">
	  <!--左侧菜单-->
	  <include file="User:left"/>
	  <!--右侧内容-->
	  <div class="usnc_right">
		  <h1>清除前台页面缓存</h1>
		  <div class="rech_top">
			  <div class="rech_box">
				  <div class="rech_bd safe_rech_bd">
					  <ul>
						  <li>
							<if condition="empty($verified) || $verified neq 1"> 
							  <div class="rechmid">
								  <div class="rechipt_box">
									  <label>支付密码：</label>
									  <div class="iptbox">
										<input type="password" class="rechipt" name="paypassword" id="paypassword" />
									  </div>
								  </div>
								  <div class="rechipt_box">
									  <label>谷歌验证码：</label>
									  <div class="iptbox">
										<input type="text" class="rechipt" name="googlepassword" id="googlepassword" />
									  </div>
								  </div>
								  <div class="rechipt_box">
									  <div class="iptbox mrl110">
										  <input type="button" class="rechbut" id="btn-submit" value="保存" title="保存" onclick="Update()"/>
									  </div>
								  </div>
							  </div>
							<else />
								<div style="text-align:center;font-size:18px;">
									请在看到此页面1分钟后再关闭此页面，在此期间系统自动进行多次缓存清理。
								</div>
								<script type="text/javascript">
									window.onload=function(){
										setTimeout("window.location.href=window.location.href",5000);
									}
								</script>
							</if>
						  </li>
					  </ul>
				  </div>
			  </div>
		  </div>
	  </div>
	</div>
</div>
<script type="text/javascript">
  $('input').focus(function(){
    var t=$(this);
    if(t.attr('type')=='text'||t.attr('type')=='password')
      t.css({'box-shadow' : '0px 0px 3px #1583fb','border' : '1px solid #1583fb','color' : '#333' });
    if(t.val()==t.attr('placeholder'))
      t.val('');
  });
  $('input').blur(function(){
    var t=$(this);
    if(t.attr('type')=='text'||t.attr('type')=='password')
      t.css({'box-shadow' : 'none','border' : '1px solid #e1e1e1','color' : '#333' });
    if(t.attr('type')!='password'&&!t.val())
      t.val(t.attr('placeholder'));
  });

  function Update(){
    var paypassword=$("#paypassword").val();
    var googlepassword=$("#googlepassword").val();
    if(paypassword==""||paypassword==null){
        layer.tips('请填写支付密码','#paypassword',{tips:3});
        return false;
    }
    if(googlepassword==""||googlepassword==null){
        layer.tips('请输入谷歌验证码','#googlepassword',{tips:3});
        return false;
    }
    $.post("{:U('User/delcache')}",{paypassword : paypassword,googlepassword : googlepassword},function(data){
      if(data.status==1){
        window.location="{:U('User/delcache')}";
      }else{
        layer.msg(data.info,{icon : 2 });
      }
    },"json");
  }

  //菜单高亮
  $('#user_delcache').addClass('on');
  $('#user_box').addClass('on');
</script>
<include file="Public:footer_new"/>