<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">批量转出虚拟币错误日志</span>
		</div>
		<div class="cf">
			<div class="search-form fr cf" style="padding-top: 43px;float: none !important;">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">

						<!-- 时间筛选 -->
						<script type="text/javascript" src="/Public/layer/laydate/laydate.js"></script>
						<input type="text" class="form-control" style=" width: 170px; float: left; margin-right: 10px;" name="starttime" value="{:I('get.starttime')}" placeholder="开始日期" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
						<input type="text" class="form-control" style=" width: 170px; float: left; margin-right: 10px;" name="endtime" value="{:I('get.endtime')}" placeholder="结束日期" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">

						<input type="text" name="username" class="search-input form-control  " value="{$Think.get.username}" placeholder="转出地址" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//搜索功能
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<form id="form" action="{:U('Finance/myczExcel')}" method="post" class="form-horizontal">
				<table class="">
					<thead>
					<tr>
						<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
						<th class="">ID</th>
						<th class="">用户名</th>
						<th class="">转出地址</th>
						<th width="">操作时间</th>
						<th width="">错误提示</th>
					</tr>
					</thead>
					<tbody>
					<notempty name="list">
						<volist name="list" id="vo">
							<tr>
								<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
								<td>{$vo.id}</td>
								<td>{$vo.uname}</td>
								<td>{$vo.username}</td>
								<td>{$vo.addtime|addtime}</td>
								<td>{$vo.beizhu}</td>
							</tr>
						</volist>
						<else/>
						<td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
					</notempty>
					</tbody>
				</table>
			</form>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//提交表单
	$('#submit').click(function () {
		$('#form').submit();
	});
	$(".page > div").children("a").each(function(){
		var ahref = $(this).attr('href');
		var ahrefarr = ahref.split("/");
		var ahlength = ahrefarr.length;
		if(ahrefarr[ahlength-2]=="p"){
			var jiewei = ahrefarr[ahlength-1].split(".");
			var page = jiewei[0];
		}
		ahrefarr.splice(ahlength-2,2);
		var newhref = ahrefarr.join("/");
		newhref = newhref+"&p="+page;
		$(this).attr("href",newhref);
	});
</script>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('Finance/mycz')}");
	</script>
</block>