<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:header2" />
</head>
<body class="graybg">
    <div id="container" class="logbg">
        <div class="log_title">
            <span class="back"><a href="javascript:history.go(-1)"></a></span>
            认购详细介绍
        </div>
        <div class="nwdtsbox">
            <div class="nwtop">
                <h3 style="line-height: 22px;">{$list.name}</h3>
            </div>
            <div class="nwbot">
                 {$list.content}
            </div>
        </div>
        <include file="Public:footer" />
    </div>
</body>
</html>