<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:header2" />
</head>
<body class="blackbg">
    <div id="container" class="logbg">
        <div class="log_title">
            <span class="back"><a href="javascript:history.go(-1)"></a></span>
            我的认购
        </div>
        <span class="layout">
            <a href="{:U('Issue/buy_list')}">认购中心</a>
        </span>
        <span class="layout">
            <a href="{:U('Issue/log')}">认购记录</a>
        </span>
    </div>
<include file="Public:footer" />
</body>
</html>