<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">用户管理</span>
		</div>
		<div class="cf">
			<div class="fl">
				<a class="btn btn-success  " href="{:U('User/edit')}">新 增</a>
				<button class="ajax-post btn  btn-info " url="{:U('User/status',array('type'=>'resume'))}" target-form="ids">启 用</button>
				<button class="ajax-post btn  btn-warning  ajax-post" url="{:U('User/status',array('type'=>'forbid'))}" target-form="ids">禁 用</button>
				<button class="btn ajax-post confirm btn-danger " url="{:U('User/status',array('type'=>'del'))}" target-form="ids">删 除</button>
				<button class="btn btn-success" url="{:U('Finance/userExcel')}" target-form="ids" id="submit" type="submit">导出选中</button>
			</div>
			<div class="search-form fr cf">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">
						<select style="width: 120px; float: left; margin-right: 10px;" name="status" class="form-control">
							<option value=""
							<empty name="Think.get.status">selected</empty>
							>全部状态</option>
							<option value="1"
							<eq name="Think.get.status" value="1">selected</eq>
							>冻结状态</option>
							<option value="2"
							<eq name="Think.get.status" value="2">selected</eq>
							>正常状态</option>
						</select>
						<select style=" width: 120px; float: left; margin-right: 10px;" name="field" class="form-control">
							<option value="username"
							<empty name="Think.get.field">selected</empty>
							>用户名</option>
							<option value="mobile"
							<eq name="Think.get.field" value="mobile">selected</eq>
							>手机号码</option>
							<option value="email"
							<eq name="Think.get.field" value="email">selected</eq>
							>电子邮箱</option>
							<option value="truename"
							<eq name="Think.get.field" value="truename">selected</eq>
							>真实姓名</option>
							<option value="idcard"
							<eq name="Think.get.field" value="idcard">selected</eq>
							>身份证号</option>
						</select>

<script type="text/javascript" src="/Public/layer/laydate/laydate.js"></script>

						<input type="text" class="form-control" style=" width: 160px; float: left; margin-right: 10px;" name="starttime" value="" placeholder="开始日期" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
						<input type="text" class="form-control" style=" width: 160px; float: left; margin-right: 10px;" name="endtime" value="" placeholder="结束日期" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
						<input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="请输入查询内容" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//搜索功能
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
		<form id="form" action="{:U('User/userExcel')}" method="post" class="form-horizontal">
			<table class="">
				<thead>
				<tr>
					<th class="row-selected row-selected">
						<input class="check-all" type="checkbox"/>
					</th>
					<th class="">ID</th>
					<th class="">用户名</th>
					<th class="">手机号</th>
					<th class="">电子邮箱</th>
					<th class="">真实姓名</th>
					<th class="">累计买入金额</th>
					<th class="">累计卖出金额</th>
					<!--<th class="">1代推荐人</th>
					<th class="">2代推荐人</th>
					<th class="">3代推荐人</th>
					<th class="">4代推荐人</th>
					<th class="">5代推荐人</th> -->
					<th class="">注册时间</th>
					<!-- <th class="">推广总收益</th>
					<th class="">推广人数</th>
					<th class="">推广总业绩</th> -->
					<th class="">状态</th>
					<!--<th class="">登录状态</th>-->
					<th class="">操作</th>
				</tr>
				</thead>
				<tbody>
				<notempty name="list">
					<volist name="list" id="vo">
						<tr>
							<td>
								<input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/>
							</td>
							<td>{$vo.id}</td>
							<td><!-- <a href="{:U('User/fenxiao?id='.$vo['id'])}" > -->{$vo.username}<!-- </a> --></td>
							<td>{$vo.mobile}</td>
							<td>{$vo.email}</td>
							<td>{$vo.truename}</td>
							<td>{$vo.buy_sum}</td>
							<td>{$vo.sell_sum}</td>
							<!--<td>
								<a href="{:U('User/index?name='.$vo['invit_1'].'&field=id')}">{$vo['invit_1']}</a>
							</td>
							<td>
								<a href="{:U('User/index?name='.$vo['invit_2'].'&field=id')}">{$vo['invit_2']}</a>
							</td>
							<td>
								<a href="{:U('User/index?name='.$vo['invit_3'].'&field=id')}">{$vo['invit_3']}</a>
							</td>
                                                        <td>
								<a href="{:U('User/index?name='.$vo['invit_4'].'&field=id')}">{$vo['invit_4']}</a>
							</td>
                                                        <td>
								<a href="{:U('User/index?name='.$vo['invit_4'].'&field=id')}">{$vo['invit_5']}</a>
							</td> -->
							<td>{$vo.addtime|addtime}</td>
							<!-- <td>{$vo.tmoney}</td>
							<td>{$vo.tmember}</td>
							<td>{$vo.ttotal}</td> -->
							<td>
								<eq name="vo.status" value="0">冻结</eq>
								<eq name="vo.status" value="1">正常</eq>
							</td>
							<!--<td>
								<eq name="vo.state" value="1">在线</eq>
							</td>-->
							<td>
								<a href="{:U('User/edit?id='.$vo['id'])}" class="btn btn-primary btn-xs" >编辑</a>
							</td>
						</tr>
					</volist>
					<else/>
					<td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
				</notempty>
				</tbody>
			</table>
		</form>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//提交表单
	$('#submit').click(function () {
		$('#form').submit();
	});
</script>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('User/index')}");
	</script>
</block>
        