<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:header2" />
	<title>{:C('web_title')}</title>
</head>
<body class="blackbg">
    <div id="container" class="logbg">
        <div class="log_title">
            <span class="back"><a href="javascript:history.go(-1)"></a></span>
            充提币
        </div>
        <div class="helpmain">
            <div class="helplist"><a href="{:U('Finance/myzr_coin_list')}"><img src="__PUBLIC__/Mobile/images/rechargeicon1.png" style="margin-top: -3px;">虚拟币充值</a></div>
            <div class="helplist"> <a href="{:U('Finance/myzc_coin_list')}"><img src="__PUBLIC__/Mobile/images/rechargeicon2.png"
            style="margin-top: -3px;">虚拟币提现</a></div>
        </div>
    </div>
<include file="Public:footer" />
</body>
</html>