<div class="bottom">
    <ul>
        <li>
            <a href="{:U('Index/index')}">
                <img src="__PUBLIC__/Mobile/images/home1.png" class="img1">
                <img src="__PUBLIC__/Mobile/images/home12.png" class="img2">
                <p>{$Think.lang.Fenhong_index}<!-- 首页 --></p>
            </a>
        </li>
        <li>
            <a href="{:U('Trade/trade_coin_list')}">
                <img src="__PUBLIC__/Mobile/images/home2.png" class="img1">
                <img src="__PUBLIC__/Mobile/images/home22.png" class="img2">
                <p>{$Think.lang.Finance_jy}<!-- 交易 --></p>
            </a>
        </li>
        <li>
            <a href="{:U('Article/notice',array('name'=>'notice'))}">
                <img src="__PUBLIC__/Mobile/images/home3.png" class="img1">
                <img src="__PUBLIC__/Mobile/images/home32.png" class="img2">
                <p>{$Think.lang.Finance_gonggao}<!-- 公告 --></p>
            </a>
        </li>
        <li>
            <a href="{:U('User/index')}">
                <img src="__PUBLIC__/Mobile/images/home4.png" class="img1">
                <img src="__PUBLIC__/Mobile/images/home42.png" class="img2">
                <p>{$Think.lang.g_my}<!-- 我的 --></p>
            </a>
        </li>
    </ul>
</div>