	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no,email=no,address=no">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/style.css">
    <script src="__PUBLIC__/Mobile/js/jquery-1.11.3.min.js"></script>
    <script src="__PUBLIC__/Mobile/js/common.js"></script>
    <script src="__PUBLIC__/Mobile/js/TouchSlide.1.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.cookies.2.2.0.js"></script>